@model IEnumerable<TRTSekreterya.Models.sirket>

@{
    ViewBag.Title = "Liste";
    var grid = new WebGrid(canPage: true, rowsPerPage: 10);
    grid.Bind(source: Model, rowCount: ViewBag.TotalRows, autoSortAndPage: false);
}

<h2>Liste</h2>

<p>
    @Html.ActionLink("Yeni Kayıt", "Olustur")
</p>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Search</a>
        </div>
        <div class="collapse navbar-collapse">
            @using (Html.BeginForm("Liste", "Sirket", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
            {
                <div class="form-group">
                    <input type="text" name="search" value="@ViewBag.search" class="form-control" placeholder="search" />
                </div>
                    <button type="submit" value="Search" class="btn btn-success">Search</button>
            }
        </div>
    </div>
</nav>
<div>
    @grid.Table(
                tableStyle: "table table-responsive table-bordered",
                columns: grid.Columns(
                    grid.Column(columnName: "sirketAdi", header: "Şirket Adı"),
                    grid.Column(columnName: "sirketSektor", header: "Şirket Sektörü"),
                    grid.Column(format: (item) => new HtmlString("<input type='button' id='btnDetail' value='Detay' onclick=\"getDetail('" + item.sirketID + "')\" />")),
                    grid.Column(format: (item) => new HtmlString("<input type='button' id='btnEdit' value='Düzenle' onclick=\"getEdit('" + item.sirketID + "')\" />")),
                    grid.Column(format: (item) => new HtmlString("<input type='button' id='btnDelete' value='Sil' onclick=\"getDelete('" + item.sirketID + "')\" />"))
                )
            )

    <div class="row">
        <div class="col-sm-6">
            @grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-small pagination-right")
        </div>
    </div>

    @Html.Hidden("dir", grid.SortDirection)
    @Html.Hidden("col", grid.SortColumn)

</div>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sirketAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sirketSektor)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sirketAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sirketSektor)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Duzenle", new { id = item.sirketID }) |

                @Html.ActionLink("Detay", "Detay", new { id = item.sirketID }) |

                <a id="silKontrol" href="/Sirket/Sil/@item.sirketID" onclick='return confirm("Emin misiniz");' class="glyphicon glyphicon-remove">Sil</a>
            </td>
        </tr>
    }

</table>*@

@section scripts{
<script>
    $(function () {
            try {
                var dir = $('#dir').val();
                var col = $('#col').val();
                var header = $("th a[href*=" + col + "]");
                if (dir == "Ascending") {
                    header.text(header.text() + "  ▲")
                }
                if (dir == "Descending") {
                    header.text(header.text() + "  ▼");
                }

            } catch (e) {

            }
    })
    function getDetail(IDs) {
        location.href = '/Sirket/Detay/' + IDs;
    }
    function getEdit(IDs) {
        location.href = '/Sirket/Duzenle/' + IDs;
    }
    function getDelete(IDs) {
        if (confirm("Silmek İstediğinize Emin misiniz ?")) {
            location.href = '/Sirket/Sil/' + IDs;
        }
        else {
            return;
        }
    }
</script>
}
