@model TRTSekreterya.Models.kisi

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>kisi</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.kisiAdi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kisiAdi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kisiAdi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kisiSoyadi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kisiSoyadi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kisiSoyadi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kisiMeslek, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kisiMeslek, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kisiMeslek, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kisiUnvan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kisiUnvan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kisiUnvan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kisiKayitTarihi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kisiKayitTarihi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kisiKayitTarihi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kisiEkBilgi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kisiEkBilgi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.kisiEkBilgi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kisiSirketID, "kisiSirketID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("kisiSirketID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.kisiSirketID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kisiTakvimKilit, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.kisiTakvimKilit)
                    @Html.ValidationMessageFor(model => model.kisiTakvimKilit, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.birimID, "birimID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("birimID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.birimID, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div id="iletisim">
            <div id="icep">
                <div id="cep" class="form-group">
                    <label class="col-md-2">Cep Telefonu : </label>
                    <div class="col-md-10">
                        <input type="tel" name="iletisimToKisis[0].value" />
                        <select name="iletisimToKisis[0].iletisimID" style="display:none"><option value="1"></option></select>
                        <button id="eklecep" name="cep" type="button">+Cep</button>
                    </div>                    
                </div>
            </div>
            <div id="iis">
                <div id="is" class="form-group">
                    <label class="col-md-2">İş Telefonu : </label>
                    <input type="tel" name="iletisimToKisis[1].value" />
                    <select name="iletisimToKisis[1].iletisimID" style="display:none"><option value="6"></option></select>
                    <button id="ekleis" name="is" type="button">+İş</button>
                </div>
            </div>
            <div id="iev">
                <div id="ev" class="form-group">
                    <label class="col-md-2">Ev Telefonu : </label>
                    <input type="tel" name="iletisimToKisis[2].value" />
                    <select name="iletisimToKisis[2].iletisimID" style="display:none"><option value="4"></option></select>
                    <button id="ekleev" name="ev" type="button">+Ev</button>
                </div>
            </div>
            <div id="ifax">
                <div id="fax" class="form-group">
                    <label class="col-md-2">Fax Site : </label>
                    <input type="text" name="iletisimToKisis[3].value" />
                    <select name="iletisimToKisis[3].iletisimID" style="display:none"><option value="9"></option></select>
                    <button id="eklefax" name="ev" type="button">+Fax</button>
                </div>
            </div>
            <div id="imail">
                <div id="mail" class="form-group">
                    <label class="col-md-2">E-Mail Telefonu : </label>
                    <input type="email" name="iletisimToKisis[4].value" />
                    <select name="iletisimToKisis[4].iletisimID" style="display:none"><option value="11"></option></select>
                    <button id="eklemail" name="ev" type="button">+Mail</button>
                </div>
            </div>
            <div id="isite">
                <div id="site" class="form-group">
                    <label class="col-md-2">Web Site : </label>
                    <input type="text" name="iletisimToKisis[5].value" />
                    <select name="iletisimToKisis[5].iletisimID" style="display:none"><option value="12"></option></select>
                    <button id="eklesite" name="ev" type="button">+Web Site</button>
                </div>
            </div>
        </div>
        //ADRESLER
        <div id="adresler" name="adre" class="form-horizontal">
            <address id="adres">
                <div id="ulke" class="form-group">
                    <label>Ülke :</label>
                    <select name="adres[0].adresUlkeID" id="adresUlkeID">
                        <option>Ulke Seçiniz</option>
                        @foreach (var item in ulkes)
                        {
                            <option value=@item.Value>@item.Text</option>
                        }
                    </select>

                </div>
                <div id="sehir" class="form-group">
                    <label>İl :</label>
                    <select id="adresILID" name="adres[0].adresILID" class="form-control">
                        <option selected>İl Seçiniz:</option>
                    </select>
                </div>
                <div id="ilce">
                    <label>İlçe :</label>
                    <input type="text" name="adres[0].adresIlce" />
                </div>
                <div id="postakodu">
                    <label>Posta Kodu :</label>
                    <input type="text" name="adres[0].adresPostaKodu" />
                </div>
                <div id="adresgenis">
                    <label>Adres Kodu :</label>
                    <input type="text" name="adres[0].adresAdres" />
                </div>
                <div id="adresTip">
                    <select name="adres[0].adresTip">
                        <option value="İkamet">İkamet Adresi</option>
                        <option value="İletişim">İletişim Adresi</option>
                        <option value="İş">İş Adresi</option>
                    </select>
                </div>
                <button id="ekleAdres" name="adr" type="button">2. Adres</button>
            </address>
            @*2. Adres*@
            <address id="adres2" name="adre" style="display:none">
                <div id="ulke" class="form-group">
                    <label>Ülke :</label>
                    <select name="adres[1].adresUlkeID" id="adresUlkeID2">
                        <option>Ulke Seçiniz</option>
                        @foreach (var item in ulkes)
                        {
                            <option value=@item.Value>@item.Text</option>
                        }
                    </select>
                </div>
                <div id="sehir" class="form-group">
                    <label>İl :</label>
                    <select id="adresILID2" name="adres[1].adresILID" class="form-control">
                        <option selected>İl Seçiniz:</option>
                    </select>
                </div>
                <div id="ilce">
                    <label>İlçe :</label>
                    <input type="text" name="adres[1].adresIlce" />
                </div>
                <div id="postakodu">
                    <label>Posta Kodu :</label>
                    <input type="text" name="adres[1].adresPostaKodu" />
                </div>
                <div id="adresgenis">
                    <label>Adres Kodu :</label>
                    <input type="text" name="adres[1].adresAdres" />
                </div>
                <div id="adresTip">
                    <select name="adres[1].adresTip">
                        <option value="İkamet">İkamet Adresi</option>
                        <option value="İletişim">İletişim Adresi</option>
                        <option value="İş">İş Adresi</option>
                    </select>
                </div>
            </address>

        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/myJS/dinamikFormK.js"></script>
    <script src="~/Scripts/myJS/cascadingUS.js"></script>
    <script src="~/Scripts/myJS/dinamikA.js"></script>  
}
