@model TRTSekreterya.Models.kisi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>kisi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.kisiAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kisiAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kisiSoyadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kisiSoyadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kisiMeslek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kisiMeslek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kisiUnvan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kisiUnvan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kisiKayitTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kisiKayitTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kisiEkBilgi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kisiEkBilgi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kisiTakvimKilit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kisiTakvimKilit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birim.birimAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birim.birimAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sirket.sirketAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sirket.sirketAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.kisiID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
