@model TRTSekreterya.Models.user
@{
    ViewBag.Title = "Takvim";
    List<TRTSekreterya.Models.getModels.getKisi> yntmListe = ViewBag.yntmListe;
    int dng = yntmListe.Count();
}

@*HIDDEN INPUTS*@
<input type="hidden" id="whichTab" value="#calendar1" />
<input type="hidden" id="birimIDforTab" value="@Model.userBirimID" />
<input type="hidden" id="usrID" value="@Model.userID" />
<input type="hidden" id="tabKisiID" value="@yntmListe[0].kisiID" />
<input type="hidden" id="tabIndeks" value="@dng" />

<h2>Takvim</h2>
<button id="add_tab">Takvim Kişileri</button>
<div id="tabs">
    <ul>       
        @for (int i = 0; i < dng; i++)
        {
            <li id="sb@(i+1)"><a href="#tabs-@(i+1)"><span id="@yntmListe[i].kisiID">@yntmListe[i].kisiAdi</span></a></li>
        }   
    </ul>   
   @for (int idx = 0; idx < dng; idx++)
   {
    <div id="tabs-@(idx+1)">
        <p><div id="calendar@(idx+1)"></div></p>
    </div>
   }
</div>
<div id="dialog" title="Tab data">
    <form>
        <fieldset class="">
            <label for="tableKeySelect">Kişiler İçin Takvim Güncelleme</label>
            <select id="tabKeySelect" multiple="multiple"></select>
        </fieldset>
    </form>
</div> @*YENİ SEKME POP-UP*@
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <button id="btnDelete" class="btn btn-default btn-sm pull-right">
                    <span class="glyphicon glyphicon-remove"></span> Sil
                </button>
                <button id="btnEdit" class="btn btn-default btn-sm pull-right" style="margin-right:5px;">
                    <span class="glyphicon glyphicon-pencil"></span> Düzenle
                </button>
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div> @*EVENT CLICK DETAY*@
<div id="myModalSave" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Save Event</h4>
            </div>
            <div class="modal-body">
                <form class="col-md-12 form-horizontal">
                    <input type="hidden" id="hdEventID" value="0" />
                    <div class="form-group">
                        <label>Subject</label>
                        <input type="text" id="txtSubject" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Start</label>
                        <input type="text" id="txtStart" class="form-control" />
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label><input type="checkbox" id="chkIsFullDay" checked="checked" />  Is Full Day event</label>
                        </div>
                    </div>
                    <div class="form-group" id="divEndDate" style="display:none">
                        <label>End</label>
                        <input type="text" id="txtEnd" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea id="txtDescription" rows="3" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Mekan</label>
                        <input type="text" id="txtMekan" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Kişiler</label><br />
                        <select id="multi-select" multiple="multiple"></select>
                    </div>
                    <div class="form-group">
                        <label>Ek Bilgi</label>
                        <textarea id="txtEkBilgi" rows="3" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Theme Color</label>
                        <select id="ddThemeColor" class="form-control">
                            <option value="">Default</option>
                            <option value="red">Red</option>
                            <option value="blue">Blue</option>
                            <option value="black">Black</option>
                            <option value="green">Green</option>
                        </select>
                    </div>
                    <button type="button" id="btnSave" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div> @*SAVE CLICK FORM*@

@*CSS TANIMLAMARI*@
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="~/Content/MyCss/TabModal.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" />

<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />


@section scripts{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> @*Takvim Sekme için ui framework*@
    <script src="~/Scripts/myJS/sekme.js"></script>
    <script src="~/Scripts/myJS/momentt.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script src="~/Scripts/myJS/trCalendar.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
<script src="~/Scripts/myJS/multiList.js"></script> 
    <script src="~/Scripts/myJS/calendar.js"></script>   



}

