@using TRTSekreterya.Models
@model kisi
@{
    ViewBag.Title = "Kişi Detayı";
}

<h2>
    @Model.kisiAdi @Model.kisiSoyadi <span>Kaydının Detaylı Bilgisi</span>
</h2>

<!-- HTML Code: Place this code in the document's body (between the 'body' tags) where the table should appear -->

    <table class="table table-user-information">
        <thead>
            <tr>
                <th></th>
                <th>Bilgiler</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ad</td>
                <td>@Model.kisiAdi</td>
            </tr>
            <tr>
                <td>Soyad</td>
                <td>@Model.kisiSoyadi</td>
            </tr>
            <tr>
                <td>Meslek</td>
                <td>@Model.kisiMeslek</td>
            </tr>
            <tr>
                <td>Ünvan</td>
                <td>@Model.kisiUnvan</td>
            </tr>
            <tr>
                <td>Şirket</td>
                <td>@Model.sirket.sirketAdi</td>
            </tr>
            <tr>
                <td>Birim</td>
                <td>@Model.birim.birimAdi</td>
            </tr>
            @foreach (var item in Model.iletisimToKisis)
            {
                <tr>
                    <td>@item.iletisim.iletisimTip</td>
                    <td>@item.value</td>
                </tr>
            }
            @foreach (var item in Model.adres)
            {
                <tr>
                    <td>Ülke</td>
                    <td>@item.ulke.ulkeAdi</td>
                </tr>
                <tr>
                    <td>İl</td>
                    <td>
                        @if (item.sehir != null)
                { @item.sehir.sehirAdi }
                else
                { <span>-</span> }
                </td>
            </tr>

            <tr>
                <td>İlçe</td>
                <td>@item.adresIlce</td>
            </tr>
            <tr>
                <td>Posta Kodu</td>
                <td>@item.adresPostaKodu</td>
            </tr>

            }
        </tbody>
    </table>

<link href="~/Content/MyCss/table.css" rel="stylesheet" />