@using TRTSekreterya.Models
@model kisi
@{
    ViewBag.Title = "Kişi Detayı";
}

<h2>
    @Model.kisiAdi @Model.kisiSoyadi <span>Kaydının Detaylı Bilgisi</span>
</h2>

<ul class="list-group">
    <li class="list-group-item"><label>AD :</label>@Model.kisiAdi</li>
    <li class="list-group-item"><label>SOYAD :</label>@Model.kisiSoyadi</li>
    <li class="list-group-item"><label>MESLEK :</label>@Model.kisiMeslek</li>
    <li class="list-group-item"><label>UNVAN :</label>@Model.kisiUnvan</li>
    <li class="list-group-item">
        <label>ŞİRKET :</label>
        @if (Model.sirket == null)
        { <span>Şirket Bilgisi Yok</span> }
        else
        {
            <span>@Model.sirket.sirketAdi</span>
        }
    </li>
    <li class="list-group-item">
        <label>BİRİM</label>
        @if (Model.birim == null)
        { <span>Birim Bilgisi Yok</span> }
        else
        {
            <span>@Model.birim.birimAdi</span>
        }
    </li>
    @foreach (var item in Model.iletisimToKisis)
    {

        <li class="list-group-item"><label>@item.iletisim.iletisimTip</label> @item.value</li>
    }
    @foreach (var item in Model.adres)
    {

        <li class="list-group-item"><label>Ulke :</label>@item.ulke.ulkeAdi</li>

        <li class="list-group-item">
            <label>sehir :</label>
            @if (item.sehir != null)
            {
                @item.sehir.sehirAdi
            }
        </li>
        <li class="list-group-item"><label>ilçe :</label>@item.adresIlce</li>
        <li class="list-group-item"><label>posta kodu :</label>@item.adresPostaKodu</li>
        <li class="list-group-item"><label>tip :</label>@item.adresTip</li>
    }
</ul>
