@using TRTSekreterya.Models
@model kisi

@{
    ViewBag.Title = "Duzenle";

}

<h2>Duzenle</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>kisi</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.kisiID)

        <div class="form-horizontal">
            <div class="form-group">
                <label>Ad:</label>
                <input type="text" name="kisiAdi" value="@Model.kisiAdi" />
                <input type="text" />
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label>Soyad:</label>
                <input type="text" name="kisiSoyadi" value="@Model.kisiSoyadi" />
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label>Meslek:</label>
                <input type="text" name="kisiMeslek" value="@Model.kisiMeslek" />
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label>Ünvan:</label>
                <input type="text" name="kisiUnvan" value="@Model.kisiUnvan" />
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label>Tarih:</label>
                <input type="date" name="kisiKayitTarihi" value="@Model.kisiKayitTarihi" />
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label>Ek Bilgi:</label>
                <input type="text" name="kisiEkBilgi" value="@Model.kisiEkBilgi" />
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label>Ad:</label>
                @if (Model.kisiYonetici == true)
                {
                    <input type="radio" name="kisiYonetici" value=true checked /> <span>Evet</span>
                    <input type="radio" name="kisiYonetici" value=false />  <span>Hayır</span>
                }
                else
                {
                    <input type="radio" name="kisiYonetici" value=true /> <span>Evet</span>
                    <input type="radio" name="kisiYonetici" value=false checked />  <span>Hayır</span>
                }

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2"> Şirket : </label>
            <select name="kisiSirketID">
                <option value="0">ŞİRKET SEÇİNİZ</option>
                <option value="@Model.kisiSirketID" selected>@Model.sirket.sirketAdi</option>
                @foreach (var item in ViewBag.sirketler)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
        </div>
        @if (Model.birim != null)
        {
            <div class="form-group">
                <label class="col-md-2"> Birim : </label>
                <select name="kisiBirimID">
                    <option value="0">BİRİM SEÇİNİZ</option>
                    <option value="@Model.birimID" selected>@Model.birim.birimAdi</option>
                    @foreach (var item in ViewBag.birimler)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
        }

        <div id="adresler" name="adre" class="form-horizontal">
            <address id="adres">
                <input type="hidden" name="adres[0].adresID" value="@Model.adres.ToList()[0].adresID" />
                <div id="ulke" class="form-group">
                    <label>Ülke :</label>
                    <select name="adres[0].adresUlkeID" id="adresUlkeID">
                        <option>Ülke Seçiniz</option>
                        @foreach (var item in ViewBag.adresUlkeID)
                        {
                            <option value="@item.Value" @if (int.Parse(item.Value) == Model.adres.ToList()[0].adresUlkeID) { <text> selected </text>        }>@item.Text</option>
                        }
                    </select>

                </div>
                <div id="sehir" class="form-group">
                    <label>İl :</label>
                    <select id="adresILID" name="adres[0].adresILID" class="form-control">
                        <option>İl Seçiniz:</option>
                        @if (Model.adres.ToList()[0].adresUlkeID == 212)
                        {
                            foreach (var item in ViewBag.sehirler)
                            {
                                <option value="@item.Value" @if (int.Parse(item.Value) == Model.adres.ToList()[0].adresILID) { <text> selected </text>          }>@item.Text</option>
                            }
                        }
                    </select>
                </div>
                <div id="ilce">
                    <label>İlçe :</label>
                    <input type="text" name="adres[0].adresIlce" value="@Model.adres.ToList()[0].adresIlce" />
                </div>
                <div id="postakodu">
                    <label>Posta Kodu :</label>
                    <input type="text" name="adres[0].adresPostaKodu" value="@Model.adres.ToList()[0].adresPostaKodu" />
                </div>
                <div id="adresgenis">
                    <label>Adres :</label>
                    <input type="text" name="adres[0].adresAdres" value="@Model.adres.ToList()[0].adresAdres" />
                </div>
                <div id="adresTip">
                    <select name="adres[0].adresTip">
                        <option value="İkamet" @if (Model.adres.ToList()[0].adresTip == "İkamet") { <text> selected </text>    }>İkamet Adresi</option>
                        <option value="İletişim" @if (Model.adres.ToList()[0].adresTip == "İletişim") { <text> selected </text>    }>İletişim Adresi</option>
                        <option value="İş" @if (Model.adres.ToList()[0].adresTip == "İş") { <text> selected </text>    }>İş Adresi</option>
                    </select>
                </div>
            </address>
            @*2. Adres*@
            @if (Model.adres.ToList()[1] != null && Model.adres.ToList()[1].ulke != null)
            {
                <address id="adres2" name="adre">
                    <input type="hidden" name="adres[1].adresID" value="@Model.adres.ToList()[1].adresID" />
                    <div id="ulke" class="form-group">
                        <label>Ülke :</label>
                        <select name="adres[1].adresUlkeID" id="adresUlkeID2">
                            <option>Ulke Seçiniz</option>
                            @foreach (var item in ViewBag.adresUlkeID)
                            {
                                <option value="@item.Value" @if (int.Parse(item.Value) == Model.adres.ToList()[1].adresUlkeID) { <text> selected </text>        }> @item.Text</option>
                            }
                        </select>
                    </div>
                    <div id="sehir" class="form-group">
                        <label>İl :</label>
                        <select id="adresILID2" name="adres[1].adresILID" class="form-control">
                            <option selected>İl Seçiniz:</option>
                            @if (Model.adres.ToList()[1].adresUlkeID == 212)
                            {
                                foreach (var item in ViewBag.sehirler)
                                {
                                    <option value="@item.Value" @if (int.Parse(item.Value) == Model.adres.ToList()[1].adresILID) { <text> selected </text>          }>@item.Text</option>
                                }
                            }
                        </select>
                    </div>
                    <div id="ilce">
                        <label>İlçe :</label>
                        <input type="text" name="adres[1].adresIlce" value="@Model.adres.ToList()[1].adresIlce" />
                    </div>
                    <div id="postakodu">
                        <label>Posta Kodu :</label>
                        <input type="text" name="adres[1].adresPostaKodu" value="@Model.adres.ToList()[1].adresPostaKodu" />
                    </div>
                    <div id="adresgenis">
                        <label>Adres :</label>
                        <input type="text" name="adres[1].adresAdres" value="@Model.adres.ToList()[1].adresAdres" />
                    </div>
                    <div id="adresTip">
                        <select name="adres[1].adresTip">
                            <option value="İkamet" @if (Model.adres.ToList()[1].adresTip == "İkamet") { <text> selected </text>   }>İkamet Adresi</option>
                            <option value="İletişim" @if (Model.adres.ToList()[1].adresTip == "İletişim") { <text> selected </text>   }>İletişim Adresi</option>
                            <option value="İş" @if (Model.adres.ToList()[1].adresTip == "İş") { <text> selected </text>   }>İş Adresi</option>
                        </select>
                    </div>
                    @*<a href="" id="@Model.adres.ToList()[1].adresID" onclick="deleteData();" class="glyphicon glyphicon-remove">Adresi Sil</a>*@
                </address>

            }

        </div>
        @for (int i = 0; i < Model.iletisimToKisis.Count(); i++)
        {
            if (Model.iletisimToKisis.ToList()[i].iletisimID == 1)
            {
                <div id="icep">
                    <div id="cep" class="form-group">
                        <input type="hidden" name="iletisimToKisis[@i].itkID" value="@Model.iletisimToKisis.ToList()[i].itkID" />
                        <label class="col-md-2">Cep Telefonu : </label>
                        <input type="tel" name="iletisimToKisis[@i].value" value="@Model.iletisimToKisis.ToList()[i].value" />
                        <select name="iletisimToKisis[@i].iletisimID" style="display:none"><option value="1"></option></select>
                    </div>
                </div>
            }
            else if (Model.iletisimToKisis.ToList()[i].iletisimID == 6)
            {
                <div id="icep">
                    <div id="cep" class="form-group">
                        <input type="hidden" name="iletisimToKisis[@i].itkID" value="@Model.iletisimToKisis.ToList()[i].itkID" />

                        <label class="col-md-2">İş Telefonu : </label>
                        <input type="tel" name="iletisimToKisis[@i].value" value="@Model.iletisimToKisis.ToList()[i].value" />
                        <select name="iletisimToKisis[@i].iletisimID" style="display:none"><option value="6"></option></select>
                    </div>
                </div>
            }
            else if (Model.iletisimToKisis.ToList()[i].iletisimID == 4)
            {
                <div id="icep">
                    <div id="cep" class="form-group">
                        <input type="hidden" name="iletisimToKisis[@i].itkID" value="@Model.iletisimToKisis.ToList()[i].itkID" />

                        <label class="col-md-2">Ev Telefonu : </label>
                        <input type="tel" name="iletisimToKisis[@i].value" value="@Model.iletisimToKisis.ToList()[i].value" />
                        <select name="iletisimToKisis[@i].iletisimID" style="display:none"><option value="4"></option></select>
                    </div>
                </div>
            }
            else if (Model.iletisimToKisis.ToList()[i].iletisimID == 9)
            {
                <div id="icep">
                    <div id="cep" class="form-group">
                        <input type="hidden" name="iletisimToKisis[@i].itkID" value="@Model.iletisimToKisis.ToList()[i].itkID" />

                        <label class="col-md-2">Fax : </label>
                        <input type="tel" name="iletisimToKisis[@i].value" value="@Model.iletisimToKisis.ToList()[i].value" />
                        <select name="iletisimToKisis[@i].iletisimID" style="display:none"><option value="9"></option></select>
                    </div>
                </div>
            }
            else if (Model.iletisimToKisis.ToList()[i].iletisimID == 11)
            {
                <div id="icep">
                    <div id="cep" class="form-group">
                        <input type="hidden" name="iletisimToKisis[@i].itkID" value="@Model.iletisimToKisis.ToList()[i].itkID" />

                        <label class="col-md-2">E-Mail : </label>
                        <input type="email" name="iletisimToKisis[@i].value" value="@Model.iletisimToKisis.ToList()[i].value" />
                        <select name="iletisimToKisis[@i].iletisimID" style="display:none"><option value="11"></option></select>
                    </div>
                </div>
            }
            else if (Model.iletisimToKisis.ToList()[i].iletisimID == 12)
            {
                <div id="icep">
                    <div id="cep" class="form-group">
                        <input type="hidden" name="iletisimToKisis[@i].itkID" value="@Model.iletisimToKisis.ToList()[i].itkID" />

                        <label class="col-md-2">Web Sitesi : </label>
                        <input type="tel" name="iletisimToKisis[@i].value" value="@Model.iletisimToKisis.ToList()[i].value" />
                        <select name="iletisimToKisis[@i].iletisimID" style="display:none"><option value="12"></option></select>
                    </div>
                </div>
            }
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Liste")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/myJS/cascadingUS.js"></script>
}

