@using TRTSekreterya.Models
@model List<kisi>

@{
    ViewBag.Title = "Kişiler";
    var grid = new WebGrid(canPage: true, rowsPerPage: 10);
    grid.Bind(source: Model, rowCount: ViewBag.TotalRows, autoSortAndPage: false);
}

<h2>Kişiler</h2>
<a href="/Kisi/Olustur" class="glyphicon glyphicon-plus">Yeni Kişi Oluştur</a><br />

<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/Kisi/Liste" class="navbar-brand">Arama</a>
            </div>
            <div class="collapse navbar-collapse">
                @using (Html.BeginForm("Liste", "Kisi", FormMethod.Get, new { @class = "navbar-form navbar-left" }))
                {
                    <div class="form-group">
                        <input type="text" name="search" value="@ViewBag.search" class="form-control" placeholder="Aranacak kelime" />
                    </div>
                        <button type="submit" value="Ara" class="btn btn-success">Ara</button>
                }
            </div>            
        </div>
    </nav>
    <div>
        @grid.Table(
             tableStyle: "table table-responsive table-bordered",
             columns: grid.Columns(
                 grid.Column(columnName: "kisiAdi", header: "Ad"),
                 grid.Column(columnName: "kisiSoyadi", header: "Soyad"),
                 grid.Column(columnName: "kisiUnvan", header: "Ünvan"),
                 grid.Column(columnName: "kisiMeslek", header: "Meslek"),
                 grid.Column(format: (item) => new HtmlString("<input type='button' id='btnDetail' value='Detay' onclick=\"getDetail('" + item.kisiID + "')\" />"), style: "details" ),
                    grid.Column(format: (item) => new HtmlString("<input type='button' id='btnEdit' value='Düzenle' onclick=\"getEdit('" + item.kisiID + "')\" />"), style: "edit"),
                    grid.Column(format: (item) => new HtmlString("<input type='button' id='btnDelete' value='Sil' onclick=\"getDelete('" + item.kisiID + "')\" />"), style: "delete")
                )
            )

        <div class="row">
            <div class="col-sm-6">
                @grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-small pagination-right")
            </div>
        </div>

        @Html.Hidden("dir", grid.SortDirection)
        @Html.Hidden("col", grid.SortColumn)

    </div>
</div>
<link href="~/Content/MyCss/gridCss.css" rel="stylesheet" />
@section scripts{
    <script>
    $(function () {
            try {
                var dir = $('#dir').val();
                var col = $('#col').val();
                var header = $("th a[href*=" + col + "]");
                if (dir == "Ascending") {
                    header.text(header.text() + "  ▲")
                }
                if (dir == "Descending") {
                    header.text(header.text() + "  ▼");
                }

            } catch (e) {

            }
    })
    function getDetail(IDs) {
        location.href = '/Kisi/Detay/' + IDs;
    }
    function getEdit(IDs) {
        location.href = '/Kisi/Duzenle/' + IDs;
    }
    function getDelete(IDs) {
        if (confirm("Silmek İstediğinize Emin misiniz ?")) {
            location.href = '/Kisi/SilIslem/' + IDs;
        }
        else {
            return;
        }
    }
    </script>
}

