@using TRTSekreterya.Models
@model kisi

@{
    ViewBag.Title = "Olustur";
    var ulkes = ViewBag.adresUlkeID;
}


<h2>Olustur</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input type="hidden" name="kisiID" value="0" />
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2"> Ad : </label>
            <input type="text" name="kisiAdi" />
        </div>
        <div class="form-group">
            <label class="col-md-2"> Soyad : </label>
            <input type="text" name="kisiSoyadi" />
        </div>
        <div class="form-group">
            <label class="col-md-2"> Meslek : </label>
            <input type="text" name="kisiMeslek" />
        </div>
        <div class="form-group">
            <label class="col-md-2"> Ünvan : </label>
            <input type="text" name="kisiUnvan" />
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.kisiSirketID, "Şirket", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="kisiSirketID" id="kisiSirketID"></select>
                @Html.ValidationMessageFor(model => model.kisiSirketID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.birimID, "Birim", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="birimID" id="birimID"></select>
                @Html.ValidationMessageFor(model => model.birimID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2"> Takvim Kilit : </label>
            <input type="radio" name="kisiTakvimKilit" value=true /> Evet
            <input type="radio" name="kisiTakvimKilit" value=false checked /> Hayır
        </div>
        <div class="form-group">
            <label class="col-md-2"> Ek Bilgi : </label>
            <input type="text" name="kisiEkBilgi" />
        </div>

    </div>
    <div id="iletisim" class="form-horizontal">
        <div id="icep">
            <div id="cep" class="form-group">
                <label class="col-md-2">Cep Telefonu : </label>
                <input type="tel" name="iletisimToKisis[0].value" />
                <select name="iletisimToKisis[0].iletisimID" style="display:none"><option value="1"></option></select>
                <button id="eklecep" name="cep" type="button">+Cep</button>
            </div>
        </div>
        <div id="iis">
            <div id="is" class="form-group">
                <label class="col-md-2">İş Telefonu : </label>
                <input type="tel" name="iletisimToKisis[1].value" />
                <select name="iletisimToKisis[1].iletisimID" style="display:none"><option value="6"></option></select>
                <button id="ekleis" name="is" type="button">+İş</button>
            </div>
        </div>
        <div id="iev">
            <div id="ev" class="form-group">
                <label class="col-md-2">Ev Telefonu : </label>
                <input type="tel" name="iletisimToKisis[2].value" />
                <select name="iletisimToKisis[2].iletisimID" style="display:none"><option value="4"></option></select>
                <button id="ekleev" name="ev" type="button">+Ev</button>
            </div>
        </div>
        <div id="ifax">
            <div id="fax" class="form-group">
                <label class="col-md-2">Fax Site : </label>
                <input type="text" name="iletisimToKisis[3].value" />
                <select name="iletisimToKisis[3].iletisimID" style="display:none"><option value="9"></option></select>
                <button id="eklefax" name="ev" type="button">+Fax</button>
            </div>
        </div>
        <div id="imail">
            <div id="mail" class="form-group">
                <label class="col-md-2">E-Mail Telefonu : </label>
                <input type="email" name="iletisimToKisis[4].value" />
                <select name="iletisimToKisis[4].iletisimID" style="display:none"><option value="11"></option></select>
                <button id="eklemail" name="ev" type="button">+Mail</button>
            </div>
        </div>
        <div id="isite">
            <div id="site" class="form-group">
                <label class="col-md-2">Web Site : </label>
                <input type="text" name="iletisimToKisis[5].value" />
                <select name="iletisimToKisis[5].iletisimID" style="display:none"><option value="12"></option></select>
                <button id="eklesite" name="ev" type="button">+Web Site</button>
            </div>
        </div>
    </div>
    //ADRESLER
    <div id="adresler" name="adre" class="form-horizontal">
        <address id="adres">
            <div id="ulke" class="form-group">
                <label>Ülke :</label>
                <select name="adres[0].adresUlkeID" id="adresUlkeID">                  
                </select>

            </div>
            <div id="sehir" class="form-group">
                <label>İl :</label>
                <select id="adresILID" name="adres[0].adresILID" class="form-control">
                    <option selected>İl Seçiniz:</option>
                </select>
            </div>
            <div id="ilce">
                <label>İlçe :</label>
                <input type="text" name="adres[0].adresIlce" />
            </div>
            <div id="postakodu">
                <label>Posta Kodu :</label>
                <input type="text" name="adres[0].adresPostaKodu" />
            </div>
            <div id="adresgenis">
                <label>Adres Kodu :</label>
                <input type="text" name="adres[0].adresAdres" />
            </div>
            <div id="adresTip">
                <select name="adres[0].adresTip">
                    <option value="İkamet">İkamet Adresi</option>
                    <option value="İletişim">İletişim Adresi</option>
                    <option value="İş">İş Adresi</option>
                </select>
            </div>
            <button id="ekleAdres" name="adr" type="button">2. Adres</button>
        </address>       

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Kaydet" class="btn btn-default" />
        </div>
    </div>

}
<div>
    @Html.ActionLink("Back to List", "Liste")
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/myJS/dinamikFormK.js"></script>
    <script src="~/Scripts/myJS/cascadingUS.js"></script>
    <script src="~/Scripts/myJS/dinamikA.js"></script>
    <script>
        $(document).ready(function () {
            var sirketList = $('#kisiSirketID');
            sirketList.empty();
            $.ajax({
                type: 'GET',
                url: '/Kisi/getSirket',
                datatype: 'json',
                success: function (data) {
                    $.each(data, function (index, option) {
                        sirketList.append('<option value=' + option.Value + '>' + option.Text + '</option>');
                    });
                }
            })
        });
        var birimList = $('#birimID');
        birimList.empty();
        $.ajax({
            type: 'GET',
            url: '/Kisi/getBirim',
            datatype: 'json',
            success: function (data) {
                $.each(data, function (index, option) {
                    birimList.append('<option value=' + option.Value + '>' + option.Text + '</option>');
                });
            }
        })
        var ulkeList = $('#adresUlkeID');       
        ulkeList.empty();        
        $.ajax({
            type: 'GET',
            url: '/Kisi/getUlke',
            datatype: 'json',
            success: function (data) {
                $.each(data, function (index, option) {
                    ulkeList.append('<option value=' + option.Value + '>' + option.Text + '</option>');
                    
                });
            }
        })

    </script>
}

